@model WebApplication1.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" maxlength="50" required="required" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" maxlength="254" required="required" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" min="1900" max="@DateTime.Now.Year" required="required" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" class="form-control" asp-items="ViewBag.Category"></select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-1">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div class="col-md-2">
                        <a asp-action="List">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
